#about 
.about  
  h2= content.about.title 
  each contentParagraph in content.about.description 
    p= contentParagraph

  h2 Our Customers! 

//- - var id = ['carousel-craft']
//- - var urlname = [{n:114},{n:745},{n:315},{n:622},{n:401}]


//- .container
//-   .page-header
//-   #carousel-craft.carousel.slide(data-ride="carousel")
//-     <!-- Indicators -->
//-     ol.carousel-indicators
      //- - var i = 0
      //-   while (i++<5)
      //-     if i == 1
      //-       li(data-target="#"+id data-slide-to=""+i class="active")
      //-     else
      //-       li(data-targe="#"+id data-slide-to=""+i)
            
    //- <!-- Wrapper for slides -->
    //- .carousel-inner(role="listbox")
    //-     each val in urlname
    //-       if val.n == 114
    //-         .item(class="active")
    //-           img(src="https://unsplash.it/1400/600?image="+val.n)
    //-       else
    //-         .item
    //-           img(src='https://unsplash.it/1400/600?image='+val.n)
    //- <!-- Controls -->
    //- a.left.carousel-control(href="#"+id role="button" data-slide="prev")
    //-   span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
    //-   span.sr-only Previous
      
    //- a.right.carousel-control(href="#"+id role="button" data-slide="next")
    //-   span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
    //-   span.sr-only Next


//- //- carousel caption
//- mixin carousel-caption(item)
//-   .carousel-caption
//-     unless !item.h1
//-       h1 #{item.h1}
//-     unless !item.p
//-       p #{item.p}
//-     unless !item.button
//-       p
//-         a.btn.btn-lg.btn-primary(href=item.button.url role="button") #{item.button.caption}

//- //- carousel
//- mixin carousel(id,items)
//-   .carousel.slide(id="carousel-" + id ,data-ride="carousel")
//-     //- Indicators
//-     ol.carousel-indicators
//-       each item,index in items
//-         if(index === 0)
//-           li.active(data-target="#carousel-" + id, data-slide-to=index)
//-         else
//-           li(data-target="#carousel-" + id, data-slide-to=index)

//-     //- Wrapper for slides
//-     .carousel-inner(role="listbox")
//-       each item,index in items
//-         if(index === 0)
//-           .item.active
//-             img(src=item.image)
//-             +carousel-caption(item)

//-         else
//-           .item
//-             img(src=item.image)
//-             +carousel-caption(item)

//-     //-  Controls
//-     a.left.carousel-control(href="#carousel-" + id, role="button", data-slide="prev")
//-       +icon("chevron-left")
//-       span.sr-only Previous
//-     a.right.carousel-control(href="#carousel-" + id, role="button", data-slide="next")
//-       +icon("chevron-right")
//-       span.sr-only Next
