#about 
.about  
  h2= data.site.content.about.title 
  each contentParagraph in data.site.content.about.description 
    p= contentParagraph

  h2 Our Customers! 
  .about__customer
    each customer in data.site.content.about.carousel
      .about__image(
        data-src=`${baseUrl}asset/image/carousel/${customer}`
        src=`${baseUrl}asset/image/carousel/${customer}`
        style=`--poza: url(${baseUrl}asset/image/carousel/${customer})`
      )
