#about 
.about  
  h2= data.site.content.about.title 
  each contentParagraph in data.site.content.about.description 
    p= contentParagraph

  h2 Our Customers! 
  .about__customer
    each customer in data.site.content.about.carousel
      img.about__image.inca-ceva(
        data-sursa=`${baseUrl}asset/image/carousel/${customer}`
        width="200"
      )
