-
  var {content} = data.site 
  var quoteTitle = content.quote.title 
  var quoteDescription = content.quote.description

#quote 
.quote
  header.quote__header
    h2.quote__title= quoteTitle 
    p.quote__title= quoteDescription

  .quote__form(
    data-tf-popup="p4j1eU4x" 
    data-tf-iframe-props="title=Get a Quote" 
    data-tf-medium="snippet" 
    style="width:100%;height:100%;"
    )
script(src="//embed.typeform.com/next/embed.js")


//- a.home__button(
//-     href='/'
//-   ) Request a callback
  input.home__radio(
    id='request-a-callback'
    name='hit-me'
    type='radio'
  )
