-
  var {content} = data.site 
  var quoteTitle = content.quote.title 
  var quoteDescription = content.quote.description

#quote 
.quote
  header.quote__header
    h2.quote__title= quoteTitle 
    p.quote__title= quoteDescription

  a.home__button(
    href= '/'
  ) Request a Callback

  .quote__form(
    data-tf-widget= formID 
    data-tf-iframe-props= formTitle 
    data-tf-medium="snippet" 
    style="width:100%;height:100%;"
  )
script(src="//embed.typeform.com/next/embed.js")
