-
  var { meta, content} = data.site 
  var metaTitle = meta.title
  var metaDescription = meta.description

#home
.home 
  header.home__header
    h1.home__title= metaTitle
    p.home__title= metaDescription

  a.home__button(
    href= '#quote'
  ) Get a quote

  .home__titlu
    h2 Request a Callback
  
  .home__form(
    data-tf-widget="V1JRDgaa"
    data-tf-iframe-props="title=Request a callback" 
    data-tf-medium="snippet" 
    style="width:100%;height:100%;"
  )
script(src="//embed.typeform.com/next/embed.js")
 
