-
  var { meta, content} = data.site 
  var metaTitle = meta.title
  var metaDescription = meta.description

#home
.home 
  header.home__header
    h1.home__title= metaTitle
    p.home__title= metaDescription
  button.home__button Get a quote 

  .home__form(
    data-tf-widget="V1JRDgaa"
    data-tf-iframe-props="title=Request a callback" 
    data-tf-medium="snippet" 
    style="width:100%;height:100%;"
  )
script(src="//embed.typeform.com/next/embed.js")


  h2= content.home.title 
  each contentParagraph in content.home.description
    p= contentParagraph
