-
  var contentTitle = data.site.content.fleet.title
  var contentDescription = data.site.content.fleet.description
  var fleetDimensions = data.site.content.fleet.vehicleDescription
  var fleetTitle = data.site.content.fleet.vehicleTitle

#fleet 
.fleet
  h2.fleet=contentTitle 
  p.fleet=contentDescription
  a.fleet__anchor(href= '#p4j1eU4x') Book Online 

  h3.fleet__title= fleetTitle
  p.fleet__text= fleetDimensions

  .fleet__grid
    each car in data.site.content.fleet.vehicle
      .fleet__hero
        img.fleet__img(src="./asset/vans/7.5.jpg")
        a.fleet__anchor(href= '#p4j1eU4x') Book Now 
      .fleet__info
        h3= car.title
        .fleet__text
          table(
            border="1"
            cellPadding="10"
            cellSpacing="10"
          )
            tr 
              th Van Size: 
              td=car.title
            tr 
              th Lenght: 
              td=car.length
            tr 
              th Width: 
              td=car.width
            tr 
              th Height: 
              td=car.height
            tr 
              th Payload:
              td=car.payload
            tr 
              td(colSpan="2")=car.description
